/* colors: 
dark dark:#2b1549;
dark: #4a267e
normal: #9463f6
light: #c7b7dd
white: #e7dff1
*/

@font-face {
  font-family: 'Varela Round';
  src: url('./Assets/fonts/VarelaRound-Regular.ttf') format('truetype');
}


.popup-content{
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  justify-content: center;
  text-align: center;
  max-height: 650px; 
  overflow-y: auto; 
  align-items: center;

}
.popUp{
  max-height: 80vh;
  overflow-y: auto; 
}

.pop-up-image {
  width: 700px;
  height: 400px;
  max-height: 500px;
}

.address{
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
}

.desc{
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
}

.rent{
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
}

.availability{
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
}

.message-lister-button{
  border-radius: 5px;
  background-color: #4a267e;
  color: white;
  border: none;
  width: 10rem;
  height: 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
  margin-bottom: 10px;
}

.message{
  margin-top: 15px;
  margin-bottom: 30px;
}

.wrap{
  background-color: rgb(230, 229, 229);
  width: 91%;
  height: 100%;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 

}
